.currentCity {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}

.infoWrapper__date, .infoWrapper__weather {
  font-size: 22px;
  opacity: .5;
}

.infoWrapper__weather:first-letter {
  text-transform: uppercase;
}