.currentCity__country {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.currentCity__details {}
.currentCity__details_date, .currentCity__details_weather {
  font-size: 16px;
  opacity: .5;
}

.currentCity__details_weather:first-letter {
  text-transform: uppercase;
}