.forecastDay {
  width: 100%;
}

.forecastDay:not(:last-of-type) {
  margin-right: 30px;
}

.forecastDay__dayName {
  font-size: 20px;
}
.forecastDay__dayDate {
  font-size: 16px;
  opacity: .5;
}
.forecastDay__dayWeatherIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 64px;
  height: 64px;
}
.forecastDay__dayWeatherIcon img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
}
.forecastDay__dayTemp {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.forecastDay__dayWeather {
  font-size: 14px;
  opacity: .4;
}
.forecastDay__maxTemp {
  font-weight: 700;
}
.forecastDay__minTemp {
  opacity: .5;
}