.ForecastDay {
  margin-right: 30px;
  width: 105px;
}

.ForecastDay__dayName {
  font-size: 25px;
}
.ForecastDay__dayDate {
  font-size: 20px;
  opacity: .5;
}
.ForecastDay__dayWeatherIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.ForecastDay__dayWeatherIcon img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
}
.ForecastDay__dayTemp {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.ForecastDay__dayWeather {
  font-size: 16px;
  opacity: .4;
}
.ForecastDay__maxTemp {
  font-weight: 700;
}
.ForecastDay__minTemp {
  opacity: .5;
}