body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: #ccc;
}

p {
  margin: 0;
}

.App {
  max-width: 1350px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.Header {
  padding: 35px 40px;
  overflow: hidden;
  position: relative;
}

.Header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('./assets//images/image2.png') no-repeat 50% 100%;
  background-size: contain;
}

.Header.isNight {
  background: linear-gradient(#15143D, #3F3D7D);
  color: #fff;
}

.Header.isDay {
  background: linear-gradient(#ffffff, #8bc0fc);
  color: #000;
}

